body {
    background-color:#ccc;
    height:100%;
    margin-bottom: 40px;
}

.dash {
    background-color:rgb(0, 132, 255);
    color:#fff;
    text-align:center;
    max-height:70px;
    width:flex;
    padding:0px 0px 0px 0px;
    margin:0 auto;
    
}

.container {
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    width:100%;
}

.fa {
    height:.5rem;
}


.card {
    margin-top:10px;
    padding: 5px 5px 5px 5px;
    
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1279px;
    }
}
@media (min-width: 576px) {
    .jumbotron {
      padding-bottom: 0;
    }
}
.forecast {
    background-color:#fff;
    margin-top:10px;
    visibility:hidden;
}
.show {
    visibility:visible;
}
.btn-dark {
    background-color:rgb(0, 132, 255);
}

.five-day {
    border: 2px solid black;
    height:12rem;
    background-color:rgb(0, 132, 255);
    color:#fff;
    margin-bottom:10px;
}
.col {
    margin-right:15px;
    margin-top:10px;
    margin-left:5px;
}
.main-forecast {
    height:16rem;
    
}
#UV-index {
    width:80px;
}

ul {
    margin-bottom:10px;
}
